<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Trang Quản Trị Dành Cho Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="MyraStudio" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link href="/public/admin/plugins/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="/public/admin/plugins/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="/public/admin/plugins/datatables/buttons.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="/public/admin/plugins/datatables/select.bootstrap4.css" rel="stylesheet" type="text/css" />
    <!-- App css -->
    <link href="/public/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/public/admin/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/public/admin/css/theme.min.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex align-items-left">
                    <button type="button" class="btn btn-sm mr-2 d-lg-none px-3 font-size-16 header-item waves-effect" id="vertical-menu-btn">
                        <i class="fa fa-fw fa-bars"></i>
                    </button>

                    <div class="dropdown d-none d-sm-inline-block">
                        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="mdi mdi-plus"></i> Tạo Mới
                            <i class="mdi mdi-chevron-down d-none d-sm-inline-block"></i>
                        </button>
                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 70px, 0px);">
                            <!-- item-->
                            <a href="/admin/room/add/" class="dropdown-item notify-item">
                                Phòng nghỉ
                            </a>

                            <!-- item-->
                            <a href="/admin/news/add/" class="dropdown-item notify-item">
                                Tin Tức
                            </a>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-left">
                    <button type="button" class="btn btn-sm mr-2 d-lg-none px-3 font-size-16 header-item waves-effect"
                        id="vertical-menu-btn">
                        <i class="fa fa-fw fa-bars"></i>
                    </button>
                </div>

                <div class="d-flex align-items-center">
                    <div class="dropdown d-inline-block ml-2">
                        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown">
                            <a href="/admin/profile/" class="color-dark" style="color: #747a88;"><span class="d-none d-sm-inline-block ml-1"><%= admin.FullName %></span></a>
                        </button>
                    </div>
                </div>
            </div>
        </header>

        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <div data-simplebar class="h-100">

                <div class="navbar-brand-box">
                    <a href="/admin" class="logo">
                        <img src="https://myrathemes.com/lunoz/layouts/vertical/assets/images/logo-light.png" />
                    </a>
                </div>

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li class="menu-title">QUẢN LÝ THÔNG TIN</li>

                        <li>
                            <a href="/admin/" class="waves-effect"><i class='bx bx-home-smile'></i><span class="badge badge-pill badge-primary float-right"></span><span>Trang Chủ</span></a>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="bx bxs-news"></i><span>Tin Tức</span></a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="/admin/news/">Danh Sách</a></li>
                                <li><a href="/admin/news/add/">Thêm Mới</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="bx bxs-bed"></i><span>Khách sạn</span></a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="/admin/room/">Danh Sách</a></li>
                                <li><a href="/admin/room/add/">Thêm Mới</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="bx bx-layer"></i><span>Danh Mục</span></a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="/admin/category/">Danh Sách</a></li>
                                <li><a href="/admin/category/add/">Thêm Mới</a></li>
                            </ul>
                        </li>

                        <li class="menu-title">QUẢN LÝ ĐẶT PHÒNG</li>

                        <li>
                            <a href="/admin/order/"><i class="bx bxs-cart"></i><span>Đặt Phòng</span></a>
                        </li>

                        <li>
                            <a href="/admin/contact/"><i class="bx bxs-contact"></i><span>Liên Hệ</span></a>
                        </li>

                        <li>
                            <a href="/admin/customer/"><i class="bx bxs-user"></i><span>Khách Hàng</span></a>
                        </li>

                        <li class="menu-title">Cá Nhân</li>

                        <li>
                            <a href="/admin/profile/" class="waves-effect"><i class="bx bx-cog"></i><span>Cá Nhân</span></a>
                        </li>

                        <li>
                            <a href="/admin/logout/" class="waves-effect"><i class="bx bx-cog"></i><span>Đăng Xuất</span></a>
                        </li>
                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

